@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
#logo{
    height: 50px;
    margin-right: 10px;
}
header, footer{
    background-color: black;
    color: #f5f5f5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin: 10px;
}
nav a{
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px;
}
nav a:hover{
    background-color: #f5f5f5;
    color: black;
    border-radius: 5px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 90vh;
}
#apresentacao{
    text-align: justify;
}
#apresentacao img{
    width: 45%;
    float: right;
    border-radius: 5px;
    margin: 30px;
}
#apresentacao a, b{
    text-decoration: none;
    color: #138d9f;
}
#apresentacao a:hover{
    opacity: 70%;
}

#integrantes{
    width: 100%;
    height: 100vh;
    background-image: url("../img/video.gif");
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}
#integrantes{
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}
#integrantes div{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.integrante{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    margin: 30px;
}
.integrante img{
    width: 100%;
    margin: -30px 0 -30px 0;
}
.integrante p{
    margin-top: -10px;
}
#discografia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 10vh 0 20vh 0;
}
#discografia #albuns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
#discografia .album{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#discografia img{
    width: 20vw;
}
#discografia h2{
    margin-bottom: 0px;
}
.botao{
    padding: 20px;
    background-color: #138d9f;
    color: #f5f5f5;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}
.botao:hover{
    opacity: 70%;
}
#minidoc{
    background-image: url("../img/avioes.webp");
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: #f5f5f5;
    justify-content: center;
    flex-direction: column;
}
footer{
    display: flex;
    flex-direction: column;
}
.botao_flutuante{
    background-color: #138d9f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    border-radius: 100%;
    text-align: center;
    height: 20px;
    width: 20px;
}
.botao_flutuante:hover{
    opacity: 80%;
}
iframe{
    width: 60%;
    height: 80%;
}